.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 1em;
  padding: 1px;
}
.grid-container > div {
  text-align: center;
  padding: 5em 0;
  /* font-size: 15px; */
}